extends layout

block content
    div(class="container")
        form(action="/api/game" method="POST")
            div(class="form-group")
                label(for="title") Title
                input(type="text" class="form-control" name="title" id="title" required)
            div(class="form-group")
                label(for="players") Players
                input(type="text" class="form-control" name="players" id="players" required)
            div(class="form-group")
                label(for="category") Category
                input(type="text" class="form-control" name="category" id="category" required)
            div(class="form-group")
                label(for="brand") Brand
                input(type="text" class="form-control" name="brand" id="brand" required)
            div(class="form-group")
                label(for="coverImg") Cover image
                input(type="file" class="form-control" name="coverImg" id="coverImg" accept="image/*" required)
            div(class="form-group")
                label(for="boardImg") Board image
                input(type="file" class="form-control" name="boardImg" id="boardImg" accept="image/*" required)
            div(class="form-group")
                label(for="price") Price
                input(type="text" class="form-control" name="price" id="price" required)
            div(class="form-group")
                label(for="quantity") Quantity
                input(type="text" class="form-control" name="quantity" id="quantity" required)
            button(type="submit" class="btn btn-primary") Add Game