extends layout

block content
    block content
    div(class="container")
        div(class="row")
            //- - console.log(games)
            - games.forEach(function(game){
                div(class="sm-col-3")
                    p #{game.title}
            - })